feature telnet
feature bash-shell
feature scp-server
feature tacacs+
cfs eth distribute
feature scheduler
feature ospf
feature bgp
feature ospfv3
feature pim
feature msdp
feature eigrp
feature private-vlan
feature udld
feature interface-vlan
feature vn-segment-vlan-based
feature hsrp
feature lacp
feature dhcp
feature ptp
feature lldp
feature bfd
clock timezone IST 5 30
clock protocol none vdc 1
feature sflow
feature vrrpv3
feature nv overlay
